{% extends "base/base.html" %}
{% load static %}

{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    body {
        font-family: 'Merriweather', serif;
        background-color: #1c1c1c;
    }

    .chat-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #333;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .chat-header {
        text-align: center;
        background-color: #006666;
        color: #FFFDD0;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        font-family: 'Montserrat', sans-serif;
    }

    .chat-header h1 {
        font-size: 24px;
        margin: 0;
    }

    .chat-logout {
        text-align: right;
        padding: 10px;
        color: #FFFDD0;
    }

    .chat-logout a {
        text-decoration: none;
        color: #FFFDD0;
        font-weight: bold;
    }

    .chat-logout a:hover {
        text-decoration: underline;
    }

    .chat__item__container {
        background-color: #2c2c2c;
        padding: 10px;
        border-radius: 10px;
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
    }

    .chat-input-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    #id_message_send_input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-right: 10px;
    }

    #id_message_send_button {
        padding: 10px 20px;
        background-color: #006666;
        color: #FFFDD0;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    #id_message_send_button:hover {
        background-color: #339999;
        color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .chat-message {
        background-color: #e4f9f5;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
        position: relative;
    }

    .chat-message.right {
        background-color: black;
        color: white;
        width: 80%;
        float: right;
        clear: both;
        margin-left: auto;
        margin-right: 0;
    }

    .chat-message.left {
        background-color: #006666;
        color: #FFFDD0;
        width: 80%;
        float: left;
        clear: both;
        margin-left: 0;
        margin-right: auto;
    }

    .chat-message span {
        font-weight: bold;
    }

    .message-timestamp {
        font-size: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .message-user {
        font-size: 12px;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
</style>
{% endblock head %}

{% block body %}
<div class="chat-container">
    <div class="chat-header">
        <h1>Chat <i class="fas fa-comment"></i></h1>
    </div>
    <div class="chat-logout">
        {% if request.user.is_authenticated %}
        <div style="float: left; font-weight: bold;">{{ request.user|title }} </div>
        <div style="float: right;"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></div>
        <div style="clear: both;"></div>
        {% endif %}
    </div>
    <div class="chat__item__container" id="id_chat_item_container">
        {% for message in messages %}
        {% if message.sender == request.user %}
            <div class="chat-message right">
        {% else %}
            <div class="chat-message left">
        {% endif %}
                <div class="message-content">
                <span class="message-user">{{ message.sender.user }}</span>
                <span class="message-text">{{ message.message }}</span>
                <span class="message-timestamp">{{ message.timestamp|date:"H:i" }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="chat-input-container">
        <input type="text" id="id_message_send_input" placeholder="Type your message..." />
        <button type="submit" id="id_message_send_button"><i class="fas fa-paper-plane"></i> Send</button>
    </div>
</div>
{% endblock body %}

{% block scripts %}
{{ block.super }}
<script>
    function connectChatWebSocket() {
        const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        let chatSocket = new WebSocket(protocol + window.location.host + "/ws/chatPage/" + {{ chat_id }} + "/");

        chatSocket.onopen = function (e) {
            console.log("The connection was set up successfully!");
        };

        chatSocket.onclose = function (e) {
            console.log("Connection closed unexpectedly, attempting to reconnect...");
            setTimeout(connectChatWebSocket, 1000); // try to reconnect in 1 second
        };

        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector("#id_message_send_input").value;
            var currentTime = new Date();
            var time = currentTime.toLocaleTimeString();

            if (chatSocket.readyState === WebSocket.OPEN) {
                chatSocket.send(JSON.stringify({
                    message: messageInput,
                    user: "{{request.user.user}}",
                    time: time
                }));
            } else {
                console.log("WebSocket is not open.");
            }
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (typeof data.user === 'string') { // Ensure it's a string
                const messageContainer = document.querySelector("#id_chat_item_container");
                const div = document.createElement("div");
                div.className = (data.user === "{{ request.user.user }}") ? "chat-message right" : "chat-message left";
                div.innerHTML = `<div class="message-content">
                    <span class="message-user">${data.user.charAt(0).toUpperCase() + data.user.slice(1)}</span>
                    <span class="message-text">${data.message}</span>
                    <span class="message-timestamp">${data.time}</span>
                </div>`;
                document.querySelector("#id_message_send_input").value = "";
                messageContainer.appendChild(div);
                messageContainer.scrollTop = messageContainer.scrollHeight; // Scroll to the bottom of the chat container
            } else {
                console.error('Data.user is not a string:', data.user);
            }
        };
    }

    if ("WebSocket" in window) {
        connectChatWebSocket();
    } else {
        console.error("WebSockets are not supported by your browser.");
    }
</script>
{% endblock scripts %}
