{% load static %}

<header class="bg-dark mb-auto d-flex w-100 h-50 p-3 mx-auto flex-column text-center text-white shadow-5-strong">
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <h3 style="font-family: 'Great Vibes', cursive; margin-right:1.5rem; text-align: left;">Quien Suma?</h3>
        <img src="{% static 'img/logo2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 20px;">

        {% if user.sexo == 'M' %}
            <h3 style="font-family: Calibri; margin-right:1.5rem;">Bienvenido <strong>{{ user.get_username }}</strong></h3>  
        {% else %}
            <h3 style="font-family: Calibri; margin-right:1.5rem;">Bienvenida <strong>{{ user.get_username }}</strong></h3>  
        {% endif %}
        <!-- Other buttons -->
        <a class="btn rounded mx-1 btn-secondary" href="{% url 'jugador_app:jugadores_disponibles' %}">Jugadores</a>
        <a class="btn mx-1 btn-secondary" href="{% url 'main_app:pagina_principal' %}">Inicio</a>
        <a class="btn mx-1 btn-secondary" href="{% url 'logout' %}">Cerrar sesión</a>
        <a class="btn mx-1 btn-secondary" href="{% url 'partidos_app:listar_partidos' %}">Partidos</a>
                <!-- Notification Dropdown -->
                <div class="nav-item dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notificaciones
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for notification in request.user.notifications.all %}
                      <a class="dropdown-item" href="#">{{ notification.message }}</a>
                    {% empty %}
                      <a class="dropdown-item" href="#">No hay nuevas notificaciones</a>
                    {% endfor %}
                  </div>
                </div>
    </nav>
</header>
