{% extends "base/base.html" %}
{% load static %}

{% block head %}
<style>
    .btn-back {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 20px;
        background-color: #f8f9fa;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 10; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
        transition: background-color 0.3s ease; 
    }
    
    .btn-back:hover {
        background-color: #e2e6ea; 
    }
    
    .container {
        position: relative;
    }
    
    .partido-container {
        display: flex;
        width: 100%;
        align-items: stretch;
        margin: 0;
        padding: 0;
    }

    .foto-portada {
        width: 60%;
        height: 100vh;
        background: url("{% static 'img/background-photo.jpg' %}") no-repeat center center;
        background-size: cover;
        position: relative;
    }

    .informacion-partido {
        width: 40%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f8f9fa;
    }

    .informacion-partido h2,
    .informacion-partido h3,
    .informacion-partido h4 {
        margin-bottom: 20px;
    }

    .info-title {
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
    }

    .info-content {
        color: #555;
    }
</style>
{% endblock head %}

{% block body %}
<div class="partido-container">
    <button onclick="history.back()" class="btn-back">Volver</button>
    <div class="foto-portada"></div>
    <div class="informacion-partido">
        <h2 class="info-title">Fecha:</h2>
        <h3 class="info-content">{{ object.fecha_hora | date:"d M, Y" }}</h3>
        <h2 class="info-title">Lugar:</h2>
        <h3 class="info-content">{{ object.get_lugar }}</h3>
        <h2 class="info-title">Cantidad de jugadores:</h2>
        <h3 class="info-content">{{ object.tipo_futbol }}v{{ object.tipo_futbol }}</h3>
        <h2 class="info-title">Cupos Disponibles:</h2>
        <h3 class="info-content">{{ object.cupos_disponibles }}</h3>
        <h2 class="info-title">Género:</h2>
        <h3 class="info-content">{{ object.get_gender_display }}</h3>
        <form action="{% url 'partidos_app:unirse_partido' partido_id=object.id %}" method="post">
            {% csrf_token %}
            <button type="submit"  data-bs-toggle="#solicitudExitosaModal" class="btn btn-primary">Unirse</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        {% if messages %}
        $('#messageModal').modal('show');
        {% endif %}
    });
    </script>
{% endblock scripts %}