{% extends "base/base.html" %}
{% load static %}

{% block titulo %} 

    Proximos partidos

{% endblock titulo %}


{% block head %} 
<style>
  pagination > li > a,
.pagination > li > span {
    color: #676b90; 
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #5f6bd2;
    border-color:#1f2342;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5f6bd2; 
    border-color: #5f6bd2;
}

  body{
background:var(--bs-body-color);
}
  h1{
    color:aliceblue;
  }
  table {
  margin: 15px;
  padding: 15px;
}

</style>
{% endblock head %}
{% block body %}
<!--INICIO DEL HEADER -->
<header class=" bg-dark mb-auto d-flex w-100 h-50 p-3 mx-auto flex-column text-center text-white  shadow-5-strong">
    <nav class="nav nav-masthead justify-content-center float-md-end">
<!--INICIO DEL LOGO CON ICONO -->
<h3 style="font-family: 'Great Vibes', cursive; margin-right:1.5rem; text-align: left;">Quien Suma?</h3>
<img src= "{% static 'img/logo2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 20px;">

{% if user.sexo == 'M' %}
    <h3 style="font-family: Calibri; margin-right:1.5rem;"> Bienvenido <strong>{{user.get_username}}</strong> </h3>  
{% else %}
    <h3 style="font-family: Calibri; margin-right:1.5rem;"> Bienvenida <strong>{{user.get_username}}</strong> </h3>  
{% endif %}

<!--FIN  DEL LOGO CON ICONO -->


        <!--INICIO BOTONES-->
      <li class="nav-item col-xs-6 ">
        
        <!-- <button class="btn btn-dark  my-2 my-sm-0 " type="submit">Jugadores</button> -->
        <a class="btn  rounded mx-1 btn-secondary" href="{% url 'jugador_app:jugadores_disponibles' %}">Jugadores</a>

      </li> 
      
      <li class="nav-item">
        <a class="btn mx-1 btn-secondary" href="{% url 'main_app:pagina_principal' %}">Inicio</a>

      </li>           
       <li class="nav-item"> 
        <a class="btn mx-1 btn-secondary" href="{% url 'logout' %}">Cerrar sesión</a>
      </li>
    </li>           
    <li class="nav-item"> 
     <a class="btn mx-1 btn-secondary" href="{% url 'partidos_app:listar_partidos' %}">Partidos</a>
    </li>
    <li class="nav-item"> 
        <a class="btn mx-1 btn-secondary" href="{% url 'partidos_app:crear_partido' %}">Crear partidos</a>
       </li>
       <!--FIN BOTONES-->
    </nav>
</header>
<!--FIN DEL HEADER -->

<!--INICIO DEL CONTENIDO-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Proximos partidos</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for partido in partidos %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{partido.nombre}}</h3>
                </div>
                <div class="card-body">
                  {% if partido.is_today%}
                    <p class="text-center">Hoy</p>
                  {% elif partido.is_tomorrow %}
                    <p class="text-center">Mañana</p>
                  {% elif partido.is_this_week %}
                    <p class="text-center">{{partido.get_day_of_week}}</p>
                  {% else %}
                    <p class="text-center">{{partido.get_day_of_week|date:"m/Y"}}</p>  
                  {% endif %}
                    <p class="text-center">Hora: {{partido.get_hora}}</p>  
                    <p class="text-center">Lugar: {{partido.ubicacion}}</p>
                    <p class="text-center">Cupos: {{partido.cupos_disponibles}}</p>
                    <p class="text-center">Organizador: {{partido.creador}}</p>
                    {% if not partido.jugadores  %}
                      <p class="text-center">Jugadores: No hay jugadores inscriptos</p>
                    {% else %}
                      {% for j in partido.jugadores %}
                      <p class="text-center">Jugadores: {{j}}</p>
                      {% endfor %}
                    {% endif %}
                    <a href="{% url 'partidos_app:detalle_partido' partido.id %}" class="btn btn-primary btn-block">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginacion -->
<div class="pagination justify-content-center" >
  <!--Si esta paginado-->
  {% if is_paginated %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          
          <!--page_obj hace referencia al obj que crea la paginacion
          Si hay una pagina previa, mostrame el simbolo para ir para atras
          sino mostramelo disabled-->
               
            <!--page_range tiene el num de paginas-->
          {% for pagina in paginator.page_range  %}

            {% if pagina == page_obj.number  %} 
            <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

  {% endif %}
    
</div>
 <!-- Fin de Paginacion -->


{% endblock body %}


