{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<!-- CSS files for datetimepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

<style>
  body {
    background: #212529; 
    color: #D3D3D3;
    font-family: 'Merriweather', serif;
  }
  
  .body-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('{% static 'img/carrousel3.jpg' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-estilizado {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 10px;
    z-index: 1;
    position: relative;
  }

  .form-estilizado .form-group {
    margin-bottom: 15px;
  }

  .form-estilizado input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #006666;
    color: #FFFDD0;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
  }

  .form-estilizado input[type="submit"]:hover {
    background-color: #339999; 
    color: #FFFFFF; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.card {
background: rgba(28, 28, 28, 0.9); 
}

.card-body {
padding: 2em;
}

h1 {
color: #FFFDD0;
font-family: 'Montserrat', sans-serif;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 0, 0, 0.05);
}

.table th, .table td {
border-top: 1px solid #dee2e6;
color: #FFFDD0;
}

.input-group-text {
background-color: #006666;
color: #FFFDD0; 
}

.form-control {
background-color: #2c2f33;
color: #fff;
border: 1px solid #fff; 
border-radius: 5px;
}
</style>
{% endblock head %}
{% block body %}

<div class="body-background"></div>
{% include 'includes/header.html' %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="text-center mb-4">Organizar un Partido</h1>
          <form action="{% url 'partidos_app:crear_partido' %}" method="POST" class="form-estilizado">
            {% csrf_token %}
            {{ form.tipo_futbol|as_crispy_field }}
            {{ form.direccion|as_crispy_field }}
            {{ form.gender|as_crispy_field }}
    
            <div class="form-group mb-3">
                <label for="id_fecha_hora">Fecha y Hora</label>
                <div id="datetimepicker1" class="input-group date">
                  <input type="text" id="id_fecha_hora" name="fecha_hora" class="form-control" />
                  <span class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </span>
                </div>
              </div>
    
            <!-- Tabla para posiciones requeridas -->
            <table class="table table-striped">
              <h4 class="text-center mb-2">Posiciones Requeridas</h4>
              <thead>
                <tr>
                  <th scope="col">ARQUEROS</th>
                  <th scope="col">DEFENSAS</th>
                  <th scope="col">MEDIOCAMPISTAS</th>
                  <th scope="col">DELANTEROS</th>
                </tr>
              </thead>
              <tbody> 
                <tr>
                  <td>{{ form.arqueros|as_crispy_field }} </td>
                  <td>{{ form.defensas|as_crispy_field }}</td>
                  <td>{{ form.medios|as_crispy_field }}</td>
                  <td>{{ form.delanteros|as_crispy_field }}</td>
                </tr>
              </tbody>
            </table>
            <!-- Fin de Tabla -->
    
            <div class="text-center">
              <input type="submit" value="Crear Partido" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block scripts %}
{{ block.super }}

<!-- Google Maps API -->
<script>
  console.log('Google Maps API Key:', '{{ google_maps_api_key }}');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initAutocomplete" async defer></script>
<!-- Script for the autocompletion function -->
<script>
  function initAutocomplete() {
    console.log('initAutocomplete called');
    var input = document.getElementById('id_direccion');
    if (input && input.tagName === 'INPUT') {
      console.log('Initializing Google Places Autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
    } else {
      console.error('El input de autocompletado no se encuentra en el DOM o no es un elemento input válido');
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM fully loaded and parsed');
    if (typeof google !== 'undefined') {
      initAutocomplete();
    } else {
      console.error('Google Maps JavaScript API not loaded');
    }
  });
</script>
<!-- Bootstrap datetimepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#id_fecha_hora').datetimepicker({
      format: 'DD-MM-YYYY HH:mm', 
      sideBySide: true
    });

    $('#id_fecha_hora').on('dp.change', function(e) {
      $('[name="fecha_hora"]').val(e.date.format('DD-MM-YYYY HH:mm'));
    });
  });
</script>
{% endblock scripts %}