{% extends "base/base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock head %}

{% block body %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Actualizar Perfil</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- script for Google Maps API -->
<script>
    console.log('Google Maps API Key:', '{{ google_maps_api_key }}');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initAutocomplete" async defer></script>

<!-- Script for the autocompletion function -->
<script>
    function initAutocomplete() {
        console.log('initAutocomplete called');
        var input = document.getElementById('id_direccion');
        if (input && input.tagName === 'INPUT') {
            console.log('Initializing Google Places Autocomplete');
            var autocomplete = new google.maps.places.Autocomplete(input);
        } else {
            console.error('El input de autocompletado no se encuentra en el DOM o no es un elemento input válido');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM fully loaded and parsed');
        if (typeof google !== 'undefined') {
            initAutocomplete();
        } else {
            console.error('Google Maps JavaScript API not loaded');
        }
    });
</script>
{% endblock scripts %}
